#mainNav {
    background-color: $secondaryColor;
    font-weight: bold;
    text-transform: uppercase;
    .navbar-toggler {
      padding: 15px;
   
      color: white;
  
      font-size: 14px;
      &:focus,
      &:hover {  
        color: $secondaryColor; 
        background-color: white;
      }
    }
    .navbar-brand { 
      color: white;
   
      font-size: 24px;
      line-height: 44px; 
      //@include heading-font;
      img {
        height: 40px;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        > .nav-item { 
          > .nav-link {
            padding-top: 14px; 
            padding-bottom: 15px;
            border-radius:5px;
            color: white;
            padding-left: 10px;
            &:focus,
            &:hover {  
              color: $secondaryColor;;
              background-color: $primaryColor;
              transition: 0.5s all;
            // padding-left: 20px;
              
            }
            &.active,
            &.active:focus,
            &.active:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }

    //992px
    @include screen('md') {
      height: auto;
      padding: 30px 0;
     // @include transition-padding;
      .navbar-toggler{
        color: #000000;
      }
      background-color: transparent;
      &.navbar-shrink {
        padding: 5px 0;
  
        background-color: $secondaryColor;
      }
      .navbar-brand {
        font-size: 26px;
        line-height: 50px;
        img {
          width: auto;
          height: 70px;
        }
      }
      .navbar-collapse {
        .navbar-nav {
          > .nav-item {
            margin-right: 5px;
        
            &:last-child {
              margin-right: 0;
            } 
            > .nav-link { 
              color: #605d61;
              padding: 15px;
              font-size: 18px;
             // padding-left: 0px;
              &:focus,
              &:hover {  
                color: white;
                background-color: $secondaryColor;
               
                border-radius: 5px;
                
              }


              &.active,
              &.active:focus,
              &.active:hover {
                color: white;
                background-color: $secondaryColor;
                transition: 0.5s all;
               
              }
            }
          }
        }
      }
    }


  }
  