section#about{
   .container{
       .bio-row{
           display: flex;
           align-items: center;
           
           .selfie{
            border-radius: 100%;
           }
        .bio-desc{
            padding-top: 40px;
        } 
        
       }
       .logo-row{
            padding-top: 60px;
            padding-bottom: 60px;
            .logo{
                width: 500px;
            }
       }
   }


      
/* Extra Small Devices (phones, 480px and up) */ 
@include screen(480){

}

/* Small devices (tablets, 768px and up)  */
@include screen('sm'){
 .container{
     .bio-row{
         .bio-desc{
             padding-top: unset;
         } 
     }
 }
}

/* Medium devices (desktops, 992px and up) */
@include screen('md'){


}

/* Large devices (large desktops, 1200px and up) */
@include screen('lg'){

}

}