body { 
    background: #efefefef;
    color: #000000;
    font-family: 'sans-serif', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;

    p{
      font-size: 16px;
    }

    h2{
      font-size: 21px;
      text-align: center;
     
      
    }
    
    @include screen(480) {}
    @include screen('sm') {}
    //992px
    @include screen('md') {
      h2{
        font-size: 31px;
      }
      p{
        font-size: 18px;
      }
    }
    @include screen('lg') {}


  }


  img{
    max-width: 100%;
  }

//////////////////////////
    section:not(#hero){
      margin-top: 40px;
      margin-bottom: 40px;

      
      @include screen(480) {}
      @include screen('sm') {}
      //992px
      @include screen('md') {
        margin-top: 90px;
        margin-bottom: 90px;
      }
      @include screen('lg') {}

 }

